body {
  font-family: arial;
}
#display {
  background-color: #DDD;
  width: 60%;
  height: 500px;
  margin: 0 auto;
  border: solid 2px #AEAEAE;
}

h1 {
  font-family: helvetica;
  text-align: center;
}

#list-events {
 // height: 250px;
}

#events {
  width: 20%;
  margin-left: 0;
  padding: 0;
}
#events li {
  list-style-type: none;
  background: -o-linear-gradient(#ECECEC, #D6D6D6);
  background: -webkit-linear-gradient(#F9F9F9, #ECECEC);
  border: solid 1px #DDD;
  border-radius: 4px;
  margin-top: 2px;
  margin-bottom: 2px;
  padding: 3%;
  -webkit-transition-duration: 0.2s; 
  overflow-x: hidden; 
} 
  
#events li:hover { 
  border: solid 1px #94BDFF;
  -webkit-transition-duration: 0.2s;
  cursor: pointer;
}

li#list-data {
  background-color: orange;
}

#authorize-button {
  background-color: #4B8DF9;
  color: white;
  
  font-weight: bold; height: 2em;
  width: 6em;
  border: none;
  border-radius: 2px;
  -webkit-transition-duration: 0.4s;
  box-shadow: 0px 5px 10px #DDD;
}

#authorize-button:hover {
  -webkit-transition-duration: 0.4s;
  cursor: pointer;
  box-shadow: 0px 5px 20px #AEAEAE;
}

h3 {
  font-family: arial;
}

.detailed-description {
  width: 40%;
  height: 20%;
  background-color: white;
  position: fixed;
  visibility: hidden;
  margin: auto;
  display: inline block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.small {
  width: 20%;
}
.large {
  width: 90%;
  height: 1000px;
}


